<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!--Nav Bar-->
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">TextMatch</a>
        </div>
    </nav>
    <!--Heading text-->
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Welcome, to TextMatch</h1>
            <div class="row center">
                <h5 class="header col s12 light">The TextMaching MVC app using AngularJS, and Material Design</h5>
            </div>
            <br><br>
        </div>
    </div>
    <!--Content-->
    <div class="container">
        @RenderBody()
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    @RenderSection("Scripts")
</body>
</html>